// variables

$font__color: #333333 !default;

$bg__color--white: white !default;

$border__color--gray: #cccccc !default;

$screen__sm: 320px;
$screen__md: 640px;
$screen__lg: 1280px;


// blocks

@mixin box($min-width, $max-width, $border-radius: 3px, $margin: 0) {
    background-color : $bg__color--white;
    border           : 1px solid #cccccc;
    min-width        : $min-width;
    max-width        : $max-width;
    padding          : 20px 50px 30px 50px;
    border-radius    : 3px;
    margin           : $margin;
}

.box {
    @include box(300px, 400px, $margin: 0);
}

.box__header {
    color         : $font__color;
    text-align    : center;
    border-bottom : 1px solid $border__color--gray;
    font-size     : 1.7em;
    padding       : 20px;
    margin-bottom : 35px;
}

.box-login {
    @include box(300px, 400px, $margin: 100px auto);
}


// modifier

.box--center {
    margin-left  : auto;
    margin-right : auto;
}

.box--shadow {
    box-shadow: 0px 0px 10px #777777;
}


// small screen media

@media screen and (min-width: $screen__sm) {
  .box-login {
    @include box(100%, 100%, $border-radius: 0, $margin: 0);
  }
  .box--shadow {
      box-shadow: none;
  }
  .box--center {
      margin-left  : auto;
      margin-right : auto;
  }
}

@media screen and (min-width: $screen__md) {
  .box-login {
      @include box(300px, 400px, $margin: 100px auto);
  }
  .box--center {
      margin-left  : auto;
      margin-right : auto;
  }
  .box--shadow {
      box-shadow: 0px 0px 10px #777777;
  }
}

@media screen and (min-width: $screen__lg) {
  .box-login {
      @include box(300px, 400px, $margin: 100px auto);
  }
  .box--center {
      margin-left  : auto;
      margin-right : auto;
  }
  .box--shadow {
      box-shadow: 0px 0px 10px #777777;
  }
}
