
// variables

$bg__color: #edf4ff !default;
$bg__color--blue : #0761f2 !default;

$font_family: "Open Sans", sans-serif !default;
$font_size_btn: 1.45em !default;

$font__color--mutted: #cfdbe7;

$font__color--white: #ffffff !default;
$font__color--blue: #0761f2 !default;
$font__color--light: #aaaaaa !default;

$border__color--blue: #0761f2 !default;
$border__color--gray: #cccccc !default;


// Blocks

.btn {
    background-color : white;
    color            : #007de5;
    font-size        : 12px;
    font-weight      : bold;
    text-transform   : uppercase;
    border           : 1px solid #007de5;
    border-radius    : 2px;
    cursor           : pointer;
    padding          : 7px 15px;
}

.btn--full {
    width: 100%;
}

.btn--blue {
    background-color: $bg__color--blue;
    color: $font__color--white;

    &:hover {
        background-color: lighten($bg__color--blue, 10%);
    }
}

.btn--transparent {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    border-radius: 100%;
    background: none;
    color: $font__color--light;
}

.btn--bold {
    font-weight: bold;
}

.btn--pull-right {
    float: right;
}

.btn--default {
    border: 1px solid $border__color--gray;
    color: $font__color--light;
    text-transform: none;
}

.btn--upload {
    font-size: 14px;
    font-weight: normal;
    color: #727d88;
    border: 1px solid #cfdbe7;
    text-transform: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.btn--sm {
    border: none;
    color: #333;
    font-size: 14px;
    background-color: #e7e7e7;
}

.btn--login {
    width: 100%;
    background-color: $bg__color--blue;
    color: $font__color--white;

    &:hover {
        background-color: lighten($bg__color--blue, 10%);
    }
}

@media screen and (max-width: 750px) {
    .btn {
        border: none;
        background-color: rgba(0,0,0,0);
        font-weight: normal;
    }
    .btn--blue {
        color: $font__color--blue;
        
        &:hover {
            background-color: rgba(0,0,0,0);
        }
    }
    .btn--transparent {
        font-size: 20px;
    }
    .btn--bold {
        font-weight: bold;
    }
    .btn--sm {
        background-color: #e7e7e7;
    }
    .btn--login {
        width: 100%;
        background-color: $bg__color--blue;
        color: $font__color--white;

        &:hover {
            background-color: lighten($bg__color--blue, 10%);
        }
    }

}