// variables

$font__color: #333333 !default;

$border__color--blue: #0761f2 !default;

// blocks

.nav {
    margin-left: 200px;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__list-item {
    display: inline-block;
    color: $font__color;
    padding: 15px 0;
    margin: 0px 10px;
    text-transform: uppercase;

    &:hover {
        border-bottom: 2px solid $border__color--blue;
    }
}

.nav__list-item--active {
    border-bottom: 2px solid $border__color--blue;
}

@media screen and (max-width: 750px) {
  .nav {
      margin: 0;
  }
}