// variables

$font__color-semigray: #a6b0b7;
$font__color-dark: #3f454a;

$font__color: #333333 !default;
$font__color--white: #ffffff !default;
$font__color--light: #aaaaaa !default;

$bg__color: #f5f7f9 !default;
$bg__color--white: white !default;

$screen__sm: 320px;
$screen__md: 640px;
$screen__lg: 1280px;

// blocks
.page {
    background-color: $bg__color;
}

.page__wrapper {
    border: none;
    margin: 30px auto;
    max-width: 1170px;
}

.page__header {
    width: 100%;
    float: left;
    margin: 0 0 5px 0;
    background-color: $bg__color--white;
    position: relative;
}

.page__header-top {
    width: 100%;
    padding: 20px;
    float: left;
}

.page__header-middle {
    width: 100%;
    padding: 20px;
    float: left;
}

.page__header-profile-image {
    float: left;
    position: absolute;
    box-shadow: 0 0 10px #aaaaaa;
    width: 170px;
    height: 170px;
    bottom: 20px;
    left: 20px;
}

.page__header-profile-info {
    float: left;
    width: 70%;
    margin: 0;
    padding: 0 2% 0 200px;
}

.page__header-company-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 2em;
    padding: 0;
    margin: 0;
}

.page__header-company-info {
    font-size: 14px;
    line-height: 2em;
    color: #3f4549;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.page__header-profile-review {
    float: right;
    min-width: 175px;
}

.page__header-profile-stars {
    float: right;
    font-size: 18px;
    color: #777;
    padding: 0;
    margin: 0;
}

.page__header-profile-reviews {
    font-size: 12px;
    font-weight: normal;
    color: #3f4549;
    float: right;
    margin: 0;
    padding: 0;
}

.page__header-bottom {
    float: left;
    width: 100%;
    box-shadow: 0 0 7px #cccccc;
    padding: 0;
    margin: 0;
}

.page__header-socmed {
    float: right;
    padding: 12px 0;
    margin: 0 20px 0 0;
    width: 115px;
    bottom: 0;
    right: 0;
    position: absolute;
}

.page__header-btn-plus {
    float: left;
    margin: 0 15px 0 0;
}

.page__header-follower {
  font-size: 12px;
    float: left;
  font-weight: normal;
  color: #a6b0b7;
    line-height: 2.7em;
}

.page__header-follower-counter {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

.page__content {
    line-height: 2em;
    color: $font__color;
    float: left;
    margin: 20px 0 0 0;
    background-color: $bg__color--white;
    box-shadow: 0 0 7px #cccccc;
    width: 100%;
    padding: 3%;
}

.page__content-header {
    font-size: 22px;
    font-weight: 500;
    color: #727d88;
    margin: 0 0 25px 0;
    width: 100%;
    float: left;
}

.page__content-title {
  float: left;
}

.page__content-action {
  float: right;
  display: none;
}

.page__info-text {
    color: #3f4549;
  font-size: 14px;
  font-weight: normal;
    background-color: #f5f7f7;
    padding: .3em 1em .3em .5em;
    margin: 0 0 1px 0;
    float: left;
}

 .page__info-text--bold {
   font-size: 16px;
   font-weight: 600;
 }

.page__info-action {
    cursor: pointer;
    float: left;
    background-color: darken($bg__color, 5%);
    padding: .3em 1em;

    &:hover {
        color: $font__color--white;
        background-color: darken($bg__color, 30%);
    }
}

.md-center {
  text-align: left;
}

.hidden-sm {
  display: inherit;
}

.hidden-md {
  display: none;
}

@media screen and (max-width: 750px) {
    .page__wrapper {
        margin: 0px auto;
    }
    .page__header {
        background-color: rgba(0,0,0,0);
        position: inherit;
    }
    .page__header-middle {
        padding: 0 20px 10px;
    }
    .page__header-profile-image {
        float: left;
        position: inherit;
        width: 110px;
        height: 110px;
        margin-left: calc(50% - 55px);
        margin-right: calc(50% - 55px);
        bottom: inherit;
        left: inherit;
    }
    .page__header-profile-info {
        float: left;
        width: 100%;
        padding: 0;
    }
    .page__header-company-name {
        font-size: 16px;
        text-align: center;
    }
    .page__header-company-info {
        font-size: 12px;
    }
    .page__header-profile-review {
        float: left;
        width: 100%;
        text-align: left;
    }
    .page__header-profile-stars {
        width: 100%;
        float: left;
        color: #007ee5;
        padding: 0;
    }
    .page__header-profile-reviews {
        width: 100%;
      float: left;
    }
    .page__header-bottom {
        background-color: #fff;
    }
    .page__header-socmed {
      float: left;
      padding: 0;
        margin: 0 0 20px 0;
      width: 100%;
        position: inherit;
        padding: 0 20px;
    }
    .page__header-btn-plus {
        float: left;
        margin: 0 15px 0 0;
    }
    .page__header-follower {
      font-size: 12px;
        float: left;
      font-weight: normal;
      color: #a6b0b7;
        line-height: 2em;
    }
    .page__content-header {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    .page__info-text {
        font-size: 12px;
        background: none;
    }
    .page__info-text--bold {
        font-size: 16px;
    }
    .hidden-sm {
        display: none;
    }
    .page__content-action {
        display: inherit;
    }
}