// variables

$font__color--light: #aaaaaa !default;
$font__line-height--normal: 1.5em;

// blocks

.helper {
    color: $font__color--light;
    line-height: $font__line-height--normal;
}

.helper--small {
    font-size: small;
}

.helper--center {
    text-align: center;
}
