@import 'normalize';
@import 'ionicons';
@import 'btn';
@import 'input';
@import 'text';
@import 'box';
@import 'page';
@import 'nav';

$bg__color: #c1d8ff !default;
$bg__color--white: white !default;
$bg__color--blue : #0761f2 !default;

$font_family: "Open Sans", sans-serif !default;

$font__color: #333333 !default;
$font__color--light: #aaaaaa !default;
$font__color--white: #ffffff !default;
$font__color--blue: #0761f2 !default;
$font__line-height: 1em;
$font__line-height--normal: 1.5em;
$font__line-height--double: 2em;

$border__color--blue: #0761f2 !default;
$border__color--gray: #cccccc !default;

$screen__sm: 320px !default;
$screen__md: 640px !default;
$screen__lg: 1280px !default;

body {
    line-height: 1.5em;
    font-family: $font_family;
}

a {
    text-decoration: none;
    color: $font__color--blue;
}

.bg-mountain {
    background-image: url('../img/fullscreen_bg_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    text-align: center;
}

.profile-img {
    float: left;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearer {
    clear: both;
}

@mixin box-float() {
  visibility: hidden;
  background-color: $bg__color--white;
  box-shadow: 0 0 10px #aaaaaa;
  border-radius: 2px;
  position: absolute;
  padding: 35px 30px;
  z-index: 20;
  display: inline-block;
  float: left;
  width: auto;
}

@mixin box-float-after() {
  content: " ";
  position: absolute;
  top: 10%;
  right: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent $bg__color--white transparent transparent;
  display: inherit;
}

.box-float {
  @include box-float();
  &:after { @include box-float-after(); }
}

@media screen and (min-width: $screen__sm) {
  .box-float {
    display: none;
    background-color: none;
    box-shadow: none;
    position: inherit;
    padding: 0;
    z-index: 0;
    float: left;
    width: 100%;

    &:after {
      display: none;
    }
  }
}

@media screen and (min-width: $screen__md) {
  .box-float {
    @include box-float();
    &:after { @include box-float-after(); }
  }
}

@media screen and (min-width: $screen__lg) {
  .box-float {
    @include box-float();
  }
}
